<%include ../partials/header%>
<div class="container">
    <div class="">
        <h1 style="text-align: center">Create Comment for <%=campground.name%> </h1>
        <div style="margin: 15px auto;width: 40%">
            <form action="\campgrounds\<%=campground._id%>\comments" method="post" >
                <div class="form-group">
                    <label for="text">Comment Text</label>
                    <input type="text" class="form-control" name="comment[text]" placeholder="Comment Text" id="text">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="comment[author]" placeholder="Comment author" id="author">
                </div>
                <input type="submit" class="btn btn-primary btn-block">
            </form>
            <a href="/">Back</a>
        </div>

    </div>
</div>

<%include ../partials/footer%>