<%include partials\header%>

<h1>show detail</h1>
<%=detail.name%>
<img src="<%=detail.img%>" alt="">
<% detail.comments.forEach(function (comment){ %>
    <p> <%=comment.text%> - <%=comment.author%></p>
<%})%>

<%include partials\footer%>